<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('components/head') %>
    <title>noteList</title>
</head>
<body>
<!--HEADER-->
<header class="bg-dark p-3 d-flex justify-content-between">
    <h3 class="text-light">note <span class="badge badge-secondary text-uppercase">List</span></h3>
    <a href="/notes" class="btn btn-primary">New note</a>
</header>
<!--NOTE-->
<div class="container">
    <% note.forEach(el => { %>
    <% if (el.type == "note"){ %>
        <div class="card text-white bg-dark mt-3 note-targ" id="note-list" style="max-width: 18rem;">
            <div class="card-body" data-id="<%= el.id%>">
                <h5 class="card-title" data-id="<%= el.id %>"><%= el.title %></h5>
                <p class="card-text" data-id="<%= el.id %>"><%= el.text %></p>
            </div>
        </div>
    <% }else{ %>
        <!-- CODE FOR LIST RENDER -->
    <% } %>
    <% }) %>
</div>
<script src="js/index.js"></script>
</body>
</html>